{% load static %}

<div class="alert alert-success" style="width:320px;">

    <div style="display:flex;flex-direction: row;justify-content: space-between">
    <div style="display:flex;flex-direction: column;">
        <div><a href=""><span style="font-weight:bold;">{{machine.name}}</span></a> <span style="color:gray;font-style: italic;font-size:11px;">{{machine.ip}}</span></div>

    </div>
    <div>
            {% if machine.vray_running %}
            <img style="height:40px;width:40px" src="{% static "rorender/vraylogo_color.png" %}"/>
            {% else %}
            <img style="opacity: 0.2;height:40px;width:40px" src="{% static "rorender/vraylogo_gray.png" %}"/>
            {% endif %}
            {% if machine.corona_running %}
            <img style="height:40px;width:40px" src="{% static "rorender/coronalogo_color.png" %}"/>
            {% else %}
            <img style="opacity: 0.2;height:40px;width:40px" src="{% static "rorender/coronalogo_gray.png" %}"/>
            {% endif %}
        </div>
    </div>

</div>