<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#rendertools-nav" aria-controls="rendertools-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="rendertools-nav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" style="font-weight:bold;" href="/rorender/">RenderTools &emsp; </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/rorender/refresh/">Update Machines</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown08" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tools</a>
          <div class="dropdown-menu" aria-labelledby="dropdown08">
            <a class="dropdown-item" href="/rorender/manage/">Manage</a>
            <hr>
            <a class="dropdown-item" href="/rorender/pop/">Re-scan Network</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>


<p style="height:30px;"></p>