{% extends "rorender/base.html" %}

{% load static %}

{% block content %}

<div style="display:flex;flex-direction: column;padding-top: 10px; padding-bottom: 10px;">
    <a href="refresh/" class="btn btn-primary btn-lg btn-block" role="button">Refresh Machines</a>
    <a href="pop/" class="btn btn-warning btn-sm btn-block" role="button">Find New Machines on Network (slow...)</a>
</div>

<p style="height:30px;"></p>

<div style="display:flex; flex-direction: row; justify-content: space-between;">

        <div style="display:flex; flex-direction: column;">
                <h1 class="display-4" style="font-size:30px;padding-bottom:10px;">Workstations</h1>
        
                {% for machine in machines %}
                {% if machine.is_workstation %}
        
                {% include "rorender/com_machine_card.html" %}
        
                {% endif %}
                {% endfor %}
        
            </div>

    <div style="display:flex; flex-direction: column;">
        <h1 class="display-4" style="font-size:30px;padding-bottom:10px;">Available</h1>

        {% for machine in machines %}
        {% if machine.running and not machine.rendering %}

        {% include "rorender/com_machine_card.html" %}

        {% endif %}
        {% endfor %}

    </div>

    <div style="display:flex; flex-direction: column;">
            <h1 class="display-4" style="font-size:30px;padding-bottom:10px;">Rendering</h1>
    
            {% for machine in machines %}
            {% if machine.rendering %}
    
            {% include "rorender/com_machine_card.html" %}
    
            {% endif %}
            {% endfor %}
    
        </div>

    <div style="display:flex; flex-direction: column;">
        <h1 class="display-4" style="font-size:30px;padding-bottom:10px;">Not Found</h1>

        {% for machine in machines %}
        {% if not machine.running %}

        {% include "rorender/com_machine_card_off.html" %}

        {% endif %}
        {% endfor %}

    </div>

</div>

{% endblock %}