{% extends "rorender/base.html" %}

{% load static %}

{% block content %}

<h1 class="display-4" style="font-size:30px;padding-bottom:10px;">Add Machines</h1>

<form action="scan_hostname/" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="textarea-hostname">By Hostname:</label>
     <br>
      {{form}}
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>

  <form action="scan/" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="textarea-hostname">Scan IP Range:</label>
     <br>
      {{form_scan_ip}}
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>

<hr>

<div style="display:flex; flex-direction: column;">
        <h1 class="display-4" style="font-size:30px;padding-bottom:10px;">Manager</h1>

        {% for machine in machines %}
        {% if machine.is_manager %}

        {% if machine.running %}

        {% include "rorender/com_machine_card.html" %}        

        {% else %}

        {% include "rorender/com_machine_card_off.html" %}

        {% endif %}

        {% endif %}
        {% endfor %}

    </div>

<div style="display:flex; flex-wrap: wrap;flex-direction: row; justify-content: space-between;">

        <div style="display:flex; flex-direction: column;">
                <h1 class="display-4" style="font-size:30px;padding-bottom:10px;">Workstations</h1>
        
                {% for machine in machines %}
                {% if machine.is_workstation and not machine.is_manager and machine.running %}
        
                {% include "rorender/com_machine_card.html" %}
        
                {% endif %}
                {% endfor %}
        
            </div>

    <div style="display:flex; flex-direction: column;">
        <h1 class="display-4" style="font-size:30px;padding-bottom:10px;">Available</h1>

        {% for machine in machines %}
        {% if machine.running and not machine.rendering and not machine.is_workstation and not machine.is_manager %}

        {% include "rorender/com_machine_card.html" %}

        {% endif %}
        {% endfor %}

    </div>

    <div style="display:flex; flex-direction: column;">
            <h1 class="display-4" style="font-size:30px;padding-bottom:10px;">Rendering</h1>
    
            {% for machine in machines %}
            {% if machine.rendering and not machine.is_manager and not machine.is_workstation %}
    
            {% include "rorender/com_machine_card.html" %}
    
            {% endif %}
            {% endfor %}
    
        </div>

    <div style="display:flex; flex-direction: column;">
        <h1 class="display-4" style="font-size:30px;padding-bottom:10px;">Offline</h1>

        {% for machine in machines %}
        {% if not machine.running and not machine.is_manager %}

        {% include "rorender/com_machine_card_off.html" %}

        {% endif %}
        {% endfor %}

    </div>

</div>




{% endblock %}