{% extends "rorender/base.html" %}

{% load static %}

{% block content %}

<div style="display:flex;flex-direction: column;padding-top: 10px; padding-bottom: 10px;">
    <a href="refresh/" class="btn btn-primary btn-lg btn-block" role="button">Refresh Machines</a>
    <a href="pop/" class="btn btn-warning btn-sm btn-block" role="button">Find New Machines on Network (slow...)</a>
</div>

{% for machine in machines %}
{% if machine.running %}
<div class="alert alert-success" role="alert">
    <div style="display:flex;flex-direction: row;justify-content: space-between">
    <div style="display:flex;flex-direction: column;">
        <div>{{machine.name}} <span style="color:gray;font-style: italic;">{{machine.ip}}</span></div>
        <div style="font-size:12px;">
            <a href="">Remote Connect</a>
            <a href="">Remote Connect</a>

        </div>
    </div>
    <div>
            {% if machine.vray_running %}
            <img style="height:40px;width:40px" src="{% static "rorender/vraylogo_color.png" %}"/>
            {% else %}
            <img style="opacity: 0.2;height:40px;width:40px" src="{% static "rorender/vraylogo_gray.png" %}"/>
            {% endif %}
            {% if machine.corona_running %}
            <img style="height:40px;width:40px" src="{% static "rorender/coronalogo_color.png" %}"/>
            {% else %}
            <img style="opacity: 0.2;height:40px;width:40px" src="{% static "rorender/coronalogo_gray.png" %}"/>
            {% endif %}
        </div>
    </div>
</div>
{% else %}
<div class="alert alert-secondary" role="alert">
        <div style="display:flex;flex-direction: row;justify-content: space-between">
            <div style="display:flex;flex-direction: column;">
                <div>
            {{machine.name}}
        </div>
        </div>
        <div>
                <img style="opacity: 0.2;height:40px;width:40px" src="{% static "rorender/vraylogo_gray.png" %}"/>
                <img style="opacity: 0.2;height:40px;width:40px" src="{% static "rorender/coronalogo_gray.png" %}"/>
            </div>
        </div>
    </div>
    {% endif %}

{% endfor %}

{% endblock %}